body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  padding: 1.5rem 5rem;
}
h2 {
  font-size: 1rem;
}

header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
}
.logobox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.logoimage {
  height: 1.5rem;
}
#logo-white{
  padding: 0 1rem 0 2rem;
}
span {
  color: white;
  font-size: 1rem;
}
nav {
  margin: 1rem 0 1rem 0;
}
.links {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  padding: 1rem 0;
}
.slogan {
  display: inline-block;
  position: relative;
  top: 10rem;
  right: -2rem;
  float: right;
  background-color: white;
}
.characteristiczzz {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.charateristic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
}
.img_a {
  width: 3.5rem;
  height: auto;
}
.img {
  width: 5rem;
  height: auto;
}
.char_text {
  text-align: center;
}
.infoz {
  display: flex;
  justify-content: space-around;
}
.info {
  width: 35%;
  margin: 0 5%;
}
.subject {
  width: 10rem;
  background-color: cadetblue;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
}
#logo-black{
  padding: 0 1rem 0 4rem;
  margin: 4rem 0;
}

/* Full Screen */

@media only screen and (min-width: 900px) {
  .linksmobile {
    display: none;
  }
  .characteristiczzz_mobile {
    display: none;
  }
  .infoz_mobile {
    display: none;
  }
}

/* Tablet */

@media only screen and (min-width: 572px) and (max-width: 899px) {
  .linksmobile {
    display: none;
  }
  .characteristiczzz_mobile {
    display: none;
  }
  .infoz_mobile {
    display: none;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  header {
    height: 22rem;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    position: relative;
    top: 0rem;
  }
  .slogan {
    top: 5rem;
    right: 2rem;
  }
  h1 {
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 1.2rem;
    padding: 0.75rem 4rem;
  }
}

/* Mobile */

@media only screen and (max-width: 571px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  header {
    height: 17rem;
    background-position: 20%;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    position: relative;
    top: 0rem;
  }
  span {
    display: none;
  }
  .links {
    display: none;
  }
  .linksmobile {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem 0;
  }
  .slogan {
    display: block;
    width: 100%;
    position: relative;
    top: 9rem;
    right: 0rem;
    background-color: white;
  }
  h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2rem;
    padding: 1rem 0;
  }
  .characteristiczzz {
    display: none;
  }
  .characteristiczzz_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.77rem 0 2.23rem 0;
  }
  .charateristic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 5rem;
    margin: 0 3rem;
  }
  .img_a {
    margin-bottom: 0.5rem;
  }
  .char_text {
    margin-bottom: 1.54rem;
  }
  h2 {
    font-size: 0.77rem;
  }
  .infoz {
    display: none;
  }
  .infoz_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    width: 100%;
    margin: 0 5%;
  }
  .subject {
    width: 100%;
    background-color: cadetblue;
    padding: 0.5rem 0 0.5rem 0rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  p {
    font-size: 0.77rem;
    padding: 0 0.5rem;
    margin-bottom: 4rem;
  }
  footer {
    display: none;
  }
  .footer {
    justify-content: center;
  }
  #logo-black {
    padding: 0 1rem 0 0rem;
    margin: 4rem 0;
  }

}
